<label for="zooName">Zoo Name:</label>
<input readonly [(ngModel)]="zooName" class="zooField" id="zooName" name="zooName" /><br />
<label for="zooCapacity">Zoo Capacity:</label>
<input readonly [(ngModel)]="zooCapacity" class="zooField" id="zooCapacity" name="zooCapacity" /><br />
<label for="zooGuests">Zoo Guests:</label>
<input readonly [(ngModel)]="zooGuests" class="zooField" id="zooGuests" name="zooGuests" /><br />
<label for="animals">Animals:</label>
<input readonly [(ngModel)]="animals.length" class="zooField" id="animals" name="animals" /><br />