<form>
    <mat-form-field>
        <mat-label>Zoo Name:</mat-label>
        <input matInput readonly [(ngModel)]="zooName" name="zooName" />
    </mat-form-field><br />
    <mat-form-field>
        <mat-label>Zoo Capacity:</mat-label>
        <input matInput readonly [(ngModel)]="zooCapacity" name="zooCapacity" />
    </mat-form-field><br />
    <mat-form-field>
        <mat-label>Zoo Guests:</mat-label>
        <input matInput readonly [(ngModel)]="zooGuests" name="zooGuests" />
    </mat-form-field><br />
    <mat-progress-bar style="max-width: 25%" [color]="capacityColor" [value]="(zooGuests / zooCapacity) * 100"></mat-progress-bar><br />
    <mat-form-field>
        <mat-label>Animals:</mat-label>
        <input matInput readonly [(ngModel)]="animals.length" name="animals" />
    </mat-form-field><br />
</form>